<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <title>Message Title</title>
</head>
<body class="jira">
<h1>ЗАДАЧА ПОСТАВЛЕНА В ОЧЕРЕДЬ</h1>

<table>
    <tr>
        <td>автор</td>
        <td>$reporter</td>
    </tr>
    <tr>
        <td>тема</td>
        <td>$summary</td>
    </tr>
    <tr>
        <td>описание</td>
        <td>$description</td>
    </tr>
    <tr>
        <td>исполнитель</td>
        <td>$assignee</td>
    </tr>
</table>
</body>
</html>